In [3]:
import pandas as pd
import pymysql
import tokenkey as tky

In [18]:
df = pd.read_csv('D:\Program File\Python\AllEnv\envlatihan\Latihan\RequestAPI\Youtube\youtube_pull.csv')
print(df.head())

      video_id                                        video_title upload_date  \
0  30hS-MjpU6E  SQL Syntax Best Practices: How to Structure Yo...  2021-12-22
1  Bgpp99iz0I0  Most Common Coding Mistakes on Data Science In...  2021-11-04
2  GeJUvdkJKEc  Multiple Solutions to Data Scientist Interview...  2021-10-11
3  GGURenNfXI0  Multiple Approaches for Solving a Twitter Data...  2021-09-13
4  PlpUo6bHsBQ  Advanced Facebook Data Science SQL interview q...  2021-08-09

   view_count  like_count  dislike_count  comment_count
0        2978         182            NaN             18
1        3108         153            NaN             27
2        4151         126            NaN             32
3        3229         144            NaN             32
4       10621         341            NaN             45

In [6]:
db = pymysql.connect(host=tky.HOST_NAME_mysql, user=tky.USERNAME_mysql, password=tky.PASSWORD_mysql)
db

In [7]:
cursor = db.cursor()
cursor

# DDL

In [10]:
sql = '''create database IF NOT EXISTS test'''
cursor.execute(sql)

1

In [11]:
cursor.connection.commit()

In [12]:
sql = '''use test'''
cursor.execute(sql)

0

In [14]:
sql = """CREATE TABLE IF NOT EXISTS videos (
                    video_id VARCHAR(255) PRIMARY KEY,
                    video_title TEXT NOT NULL,
                    upload_date DATE NOT NULL,
                    view_count INTEGER NOT NULL,
                    like_count INTEGER NOT NULL,
                    dislike_count INTEGER NOT NULL,
                    comment_count INTEGER NOT NULL
            )"""
cursor.execute(sql)

0

In [15]:
sql = '''show tables'''
cursor.execute(sql)
cursor.fetchall()

(('videos',),)

# DML

In [24]:
def insert_into_table(curr, video_id, video_title, upload_date, view_count, like_count, comment_count):
    insert_into_videos = ("""INSERT INTO videos (video_id, video_title, upload_date,
                        view_count, like_count, comment_count)
    VALUES(%s,%s,%s,%s,%s,%s);""")
    row_to_insert = (video_id, video_title, upload_date, view_count, like_count, comment_count)
    curr.execute(insert_into_videos, row_to_insert)


def update_row(curr, video_id, video_title, view_count, like_count, comment_count):
    query = ("""UPDATE videos
            SET video_title = %s,
                view_count = %s,
                like_count = %s,
                comment_count = %s
            WHERE video_id = %s;""")
    vars_to_update = (video_title, view_count, like_count, comment_count, video_id)
    curr.execute(query, vars_to_update)


def check_if_video_exists(curr, video_id): 
    query = ("""SELECT video_id FROM videos WHERE video_id = %s""")

    curr.execute(query, (video_id,))
    return curr.fetchone() is not None



def truncate_table(curr):
    truncate_table = ("""TRUNCATE TABLE videos""")

    curr.execute(truncate_table)


def append_from_df_to_db(curr,df):
    for i, row in df.iterrows():
        insert_into_table(curr, row['video_id'], row['video_title'], row['upload_date'], row['view_count']
                          , row['like_count'], row['comment_count'])


# Buat liat misal datanya udah ada dia cuma bakal update doang datanya berdasarkan idnya, klo belom ada di append ke temp_df dulu
# Nanti temp_df bakal di append ke db lewat func append_from_df_to_db()
def update_db(curr,df):
    tmp_df = pd.DataFrame(columns=['video_id', 'video_title', 'upload_date', 'view_count',
                                   'like_count', 'comment_count'])
    for i, row in df.iterrows():
        if check_if_video_exists(curr, row['video_id']): # If video already exists then we will update
            update_row(curr,row['video_id'],row['video_title'],row['view_count'],row['like_count'],row['comment_count'])
        else: # The video doesn't exists so we will add it to a temp df and append it using append_from_df_to_db
            tmp_df = tmp_df.append(row)

    return tmp_df

In [25]:
new_vid_df = update_db(cursor, df)

In [26]:
new_vid_df

,video_id,video_title,upload_date,view_count,like_count,comment_count,dislike_count
0,30hS-MjpU6E,SQL Syntax Best Practices: How to Structure Yo...,2021-12-22,2978,182,18,NaN
1,Bgpp99iz0I0,Most Common Coding Mistakes on Data Science In...,2021-11-04,3108,153,27,NaN
2,GeJUvdkJKEc,Multiple Solutions to Data Scientist Interview...,2021-10-11,4151,126,32,NaN
3,GGURenNfXI0,Multiple Approaches for Solving a Twitter Data...,2021-09-13,3229,144,32,NaN
4,PlpUo6bHsBQ,Advanced Facebook Data Science SQL interview q...,2021-08-09,10621,341,45,NaN
...,...,...,...,...,...,...,...
74,UX4_IgagL9I,How to Use Google Colaboratory | Import a CSV ...,2020-05-02,1726,12,2,NaN
75,tDdo3FiWpgE,Interview Questions for SQL Joins and Subqueries,2020-02-01,956,13,0,NaN
76,wW827gqxlRY,SQL Job Interview Mistakes #2,2019-09-15,898,17,0,NaN
77,xbc2GpGUXwc,SQL Job Interview Mistakes #1,2019-08-03,7451,63,1,NaN
78,n6gM265zG68,SQL Query Interview Questions And Answers From...,2019-06-26,39235,499,4,NaN

In [27]:
append_from_df_to_db(cursor, new_vid_df)

In [28]:
cursor.connection.commit()

In [31]:
cursor.execute("SELECT * FROM videos")
cursor.fetchall()

(('_gy1o9UH2dQ',
  'Hard SQL Interview Question From FACEBOOK | Data Science Coding Interviews (Popularity Percentage)',
  datetime.date(2020, 11, 4),
  16254,
  338,
  0,
  58),
 ('-i9chjBSOqU',
  'merge() Method to Join Multiple Pandas Dataframes - Beginner Python Pandas Tutorial #7',
  datetime.date(2020, 5, 29),
  928,
  20,
  0,
  5),
 ('01kOJUiiEQE',
  'NumPy Slicing and Accessing Subarrays - Complete Python NumPy Tutorial for Beginners #5',
  datetime.date(2020, 5, 14),
  267,
  2,
  0,
  0),
 ('0GpgMvyN0Fg',
  'How I Learned Data Science (resources to get a job) in 2021',
  datetime.date(2021, 2, 4),
  8379,
  547,
  0,
  44),
 ('0hjTJw9Jpmc',
  'How to Reshape NumPy Arrays - Beginner Python NumPy Exercises #5',
  datetime.date(2020, 5, 14),
  235,
  3,
  0,
  0),
 ('1SgHHQeRuxs',
  'How I Prepare For My Data Science Interviews (From a Data Scientist)',
  datetime.date(2020, 10, 18),
  4174,
  117,
  0,
  17),
 ('2iE3JgNTwVU',
  'A Walkthrough of Data Science SQL Interview Question from Noom (Date Manipulations)',
  datetime.date(2021, 6, 4),
  3819,
  128,
  0,
  30),
 ('30hS-MjpU6E',
  'SQL Syntax Best Practices: How to Structure Your SQL Code',
  datetime.date(2021, 12, 22),
  2978,
  182,
  0,
  18),
 ('5-1ClCuQCIw',
  'How to Organize Data Science Interview Solution | Data Science Interview Tip #3',
  datetime.date(2020, 8, 30),
  3069,
  24,
  0,
  10),
 ('60NaEc7NP_U',
  'My Data Science Career Path (From Novice to Your First Job) - Your Journey to Data Science',
  datetime.date(2020, 9, 13),
  1786,
  63,
  0,
  5),
 ('77IVf0zgmwI',
  'Importing a Pandas Dataframe to a Database in Python [For Your Data Science Project]',
  datetime.date(2021, 5, 5),
  6373,
  264,
  0,
  33),
 ('7Q-2DEwHW7w',
  'Solving a SQL Interview Question by FACEBOOK | (Data Science Interview) SMS Confirmations From Users',
  datetime.date(2020, 10, 29),
  4781,
  84,
  0,
  15),
 ('aGPjAOhomY4',
  'Useful Array Attributes of NumPy - Complete Python NumPy Tutorial for Beginners #3',
  datetime.date(2020, 5, 14),
  237,
  3,
  0,
  0),
 ('Bgpp99iz0I0',
  'Most Common Coding Mistakes on Data Science Interviews',
  datetime.date(2021, 11, 4),
  3108,
  153,
  0,
  27),
 ('bM7LSQIKYs8',
  'Pandas iloc, loc and Dataframes  - Beginner Python Pandas Tutorial #1 (interactive python notebook)',
  datetime.date(2020, 5, 23),
  2639,
  52,
  0,
  11),
 ('C0hk-dZ9XSE',
  'SQL Window Functions In a Data Science Interview Question by Airbnb in 2021',
  datetime.date(2020, 12, 10),
  2904,
  95,
  0,
  22),
 ('c4Af2FcgamA',
  'The One and Only Data Science Project You Need',
  datetime.date(2021, 2, 24),
  137453,
  8518,
  0,
  193),
 ('ccDPI7v-0QE',
  'Math Operations Arrays using NumPy - Beginner Python NumPy Exercises #7',
  datetime.date(2020, 5, 16),
  237,
  4,
  0,
  0),
 ('ceJ4lVXN0T8',
  'NumPy Descriptive Statistics - Beginner Python NumPy Exercises #8',
  datetime.date(2020, 5, 16),
  252,
  11,
  0,
  6),
 ('DUgd48QYmfI',
  'Advanced Use of groupby(), aggregate, filter, transform, apply - Beginner Python Pandas Tutorial #5',
  datetime.date(2020, 5, 26),
  11800,
  213,
  0,
  29),
 ('dWQvU9p7TdU',
  'Split and Reshape NumPy  Concatenate NumPy Arrays - Complete Python NumPy Tutorial for Beginners #6',
  datetime.date(2020, 5, 14),
  293,
  10,
  0,
  0),
 ('e6C1Z-o1fyQ',
  'How to Create Boolean Mask for NumPy Arrays - Beginner Python NumPy Exercises #9',
  datetime.date(2020, 5, 17),
  692,
  11,
  0,
  5),
 ('e8o7E13KtJ4',
  'Splitting and Concatenating Arrays - Beginner Python NumPy Exercises #6',
  datetime.date(2020, 5, 14),
  235,
  7,
  0,
  0),
 ('eC7MdwKCCOE',
  'Tricky Data Science Interview Question [By Facebook]',
  datetime.date(2020, 12, 22),
  3675,
  117,
  0,
  25),
 ('EPUayNC5ku4',
  'SQL Coding Interview Question Using A Window Function (PARTITION BY) | Data Science Interviews',
  datetime.date(2020, 11, 19),
  38085,
  1122,
  0,
  94),
 ('F5sKh-3V3KA',
  'How to Create Arrays and Functions in Python - Complete Python NumPy Tutorial for Beginners #2',
  datetime.date(2020, 5, 13),
  365,
  4,
  0,
  0),
 ('fklHBWow8vE',
  'Working with APIs in Python [For Your Data Science Project]',
  datetime.date(2021, 4, 2),
  16206,
  879,
  0,
  69),
 ('GeJUvdkJKEc',
  'Multiple Solutions to Data Scientist Interview Question From Amazon [Rolling Average]',
  datetime.date(2021, 10, 11),
  4151,
  126,
  0,
  32),
 ('GGURenNfXI0',
  'Multiple Approaches for Solving a Twitter Data Scientist Interview Question',
  datetime.date(2021, 9, 13),
  3229,
  144,
  0,
  32),
 ('giGIPINLqJs',
  'An Analysis of 900 Data Science Interview Questions | Data Science Interview Guide',
  datetime.date(2021, 5, 13),
  2623,
  106,
  0,
  9),
 ('gZGGexOyL9M',
  'Summary Statistics in NumPy - Complete Python NumPy Tutorial for Beginners #8',
  datetime.date(2020, 5, 16),
  197,
  2,
  0,
  0),
 ('HRzthi_FqAA',
  'Merge Dataframes Using Concat and Append - Beginner Python Pandas Tutorial #6',
  datetime.date(2020, 5, 26),
  465,
  20,
  0,
  4),
 ('i-E4pdU2qXM',
  'Data Science SQL Interview Question Walkthrough [Microsoft] - Window Function: Ranking',
  datetime.date(2021, 7, 13),
  4080,
  161,
  0,
  19),
 ('IKw0lkmBHNI',
  'Solving an Airbnb Data Science Coding Interview Question | SQL Interview  [Fav Host Nationality]',
  datetime.date(2020, 11, 11),
  4184,
  93,
  0,
  16),
 ('iR8FDQyCtnw',
  'SQL Interview Questions From MICROSOFT | Expensive Projects (Data Science Interview Questions)',
  datetime.date(2020, 10, 20),
  1658,
  41,
  0,
  4),
 ('iwIPnlCHlVQ',
  'Simple Groupby() in Pandas - Beginner Python Pandas Tutorial #4 (interactive python notebook)',
  datetime.date(2020, 5, 26),
  984,
  29,
  0,
  2),
 ('j8kGqAAIhxA',
  'Top Data Science Interview Question And Answer Mistakes 2021 [Asked By Amazon]',
  datetime.date(2021, 1, 6),
  3592,
  121,
  0,
  27),
 ('JHxojhrCsRs',
  'How to Deal with Nulls in Pandas - Beginner Python Pandas Tutorial #2 (interactive python notebook)',
  datetime.date(2020, 5, 24),
  656,
  15,
  0,
  4),
 ('JZfsZuLKaJ4',
  'Arithmetic Operators on Arrays using NumPy - Complete Python NumPy Tutorial for Beginners #7',
  datetime.date(2020, 5, 16),
  225,
  3,
  0,
  0),
 ('lG0PbUq4wkg',
  'Top Data Science Interview Questions in 2021 [3 concepts tested on all interviews]',
  datetime.date(2021, 1, 13),
  3787,
  138,
  0,
  20),
 ('LL7dnUymOvo',
  'A Boolean Mask on NumPy Arrays - Complete Python NumPy Tutorial for Beginners #9',
  datetime.date(2020, 5, 17),
  744,
  13,
  0,
  5),
 ('mCXZXe-Na3s',
  'Fundamentals of Filtering Data in a Pandas Dataframe - Beginner Python Pandas Tutorial #3',
  datetime.date(2020, 5, 24),
  682,
  26,
  0,
  8),
 ('mkbgEvUkSaM',
  'NumPy Array vs List in Python - Beginner Python NumPy Exercises #1 (interactive python notebook)',
  datetime.date(2020, 5, 13),
  1439,
  23,
  0,
  3),
 ('N0aHeKyNEto',
  'Applying Software Engineering Principles To Your Data Science Tasks In Python',
  datetime.date(2020, 12, 3),
  1510,
  65,
  0,
  24),
 ('n6gM265zG68',
  'SQL Query Interview Questions And Answers From Real Companies | Prepare For Your SQL Interview',
  datetime.date(2019, 6, 26),
  39235,
  499,
  0,
  4),
 ('OVD26YMkT_c',
  'List vs Array Python - Complete Python NumPy Tutorial for Beginners #1 (interactive python notebook)',
  datetime.date(2020, 5, 13),
  704,
  15,
  0,
  3),
 ('pFwYjaeKFvQ',
  'Solving a Facebook Data Science Interview Questions | (SQL Interview Questions and Answer)',
  datetime.date(2020, 10, 22),
  3906,
  52,
  0,
  19),
 ('PlpUo6bHsBQ',
  'Advanced Facebook Data Science SQL interview question [RANK()]',
  datetime.date(2021, 8, 9),
  10621,
  341,
  0,
  45),
 ('pV_mnZgzXEo',
  'Coding Concepts in Data Science Interviews in 2021 (Facebook, Twitch, Postmates)',
  datetime.date(2021, 3, 3),
  3949,
  212,
  0,
  26),
 ('QenwDm5oWdU',
  'Advanced Data Science SQL Interview Question [Amazon] (window functions  aliasing)',
  datetime.date(2021, 2, 17),
  12721,
  454,
  0,
  91),
 ('rf2udE9q-SM',
  'How To Get Your First Data Science Job Interview | Data Science Interviews Tip #2',
  datetime.date(2020, 8, 20),
  1942,
  40,
  0,
  8),
 ('RgKMbpEylWA',
  'Comparing FAANG vs Non-FAANG Data Science Interview Questions',
  datetime.date(2021, 5, 24),
  1862,
  69,
  0,
  12),
 ('rMoUoYxfBNk',
  'How To Discuss Trade-offs in a Data Science Interview - Data Science Interview Tip #5',
  datetime.date(2020, 9, 20),
  844,
  23,
  0,
  6),
 ('S7gKkRxlk1U',
  'Real Data Science Interview Question From Facebook | Friend Acceptance Rate (Interview Walkthrough)',
  datetime.date(2020, 9, 23),
  4181,
  59,
  0,
  12),
 ('sKMuioo7Xf8',
  'NumPy Array Index to Access Single Element - Complete Python NumPy Tutorial for Beginners #4',
  datetime.date(2020, 5, 14),
  277,
  1,
  0,
  0),
 ('SrqJuUNN62I',
  'Technical Questions on Data Science Interviews Tip #1 | Guarantee The Correct Answer Every Time',
  datetime.date(2020, 8, 8),
  3071,
  62,
  0,
  4),
 ('STJA-D-K9Cs',
  'NumPy Multidimensional Array Indexing and Slicing - Beginner Python NumPy Exercises #4',
  datetime.date(2020, 5, 14),
  379,
  8,
  0,
  2),
 ('T1UhSuKqy3A',
  'Most Common Data Science SQL Interview Question from DoorDash [window functions  partitions]',
  datetime.date(2021, 6, 15),
  6613,
  242,
  0,
  37),
 ('tDdo3FiWpgE',
  'Interview Questions for SQL Joins and Subqueries',
  datetime.date(2020, 2, 1),
  956,
  13,
  0,
  0),
 ('TDwy1lSjEZo',
  'Automating Your Data Science Tasks In Python (importing CSV files to database AUTOMATION TUTORIAL)',
  datetime.date(2020, 11, 24),
  4938,
  151,
  0,
  44),
 ('tNXliLTlrV8',
  'Step-by-step Approach to Solving Any Data Science SQL Interview Question (Twitch)',
  datetime.date(2021, 3, 24),
  6507,
  209,
  0,
  32),
 ('TYHWv1vT0Pk',
  'Common Date Manipulations on Data Science SQL Interviews',
  datetime.date(2021, 2, 11),
  10132,
  390,
  0,
  75),
 ('U9P4M4EPTgI',
  'Intro to Real Data Science Interview Questions and Answers Series (Interview Walkthroughs)',
  datetime.date(2020, 9, 23),
  2304,
  45,
  0,
  6),
 ('UndSRKwsxKM',
  'YELP SQL Data Science Interview Questions | Common Coding Question (Mock Interview Walkthrough)',
  datetime.date(2020, 10, 10),
  1659,
  30,
  0,
  12),
 ('UX4_IgagL9I',
  'How to Use Google Colaboratory | Import a CSV File into a Google Colabs Notebook',
  datetime.date(2020, 5, 2),
  1726,
  12,
  0,
  2),
 ('uY2wfR8Dkqo',
  '5 Tips for a Successful Data Science Interview',
  datetime.date(2021, 7, 26),
  6302,
  200,
  0,
  37),
 ('vLjAG9eXkcU',
  'Solving Complex SQL Interview Questions [How to organize lengthy code solutions]',
  datetime.date(2021, 1, 20),
  7265,
  229,
  0,
  57),
 ('VYeevsVj4fU',
  'Advanced SQL Questions From Amazon (Handling complex logic in data science interviews)',
  datetime.date(2021, 1, 27),
  13566,
  415,
  0,
  56),
 ('W_IERUwElkg',
  'SQL Case Statements For Data Science Interviews in 2021',
  datetime.date(2020, 12, 28),
  20841,
  775,
  0,
  78),
 ('wqBFgaMgFQA',
  'Solve Data Science Tasks In Python (Saving Hours) (automating import CSV files to database)',
  datetime.date(2020, 11, 15),
  8675,
  316,
  0,
  46),
 ('wqxDfVdZ8wM',
  '18 Most Recommended Data Science Platforms To Learn Python And SQL',
  datetime.date(2020, 8, 16),
  2102,
  91,
  0,
  18),
 ('wW827gqxlRY',
  'SQL Job Interview Mistakes #2',
  datetime.date(2019, 9, 15),
  898,
  17,
  0,
  0),
 ('xbc2GpGUXwc',
  'SQL Job Interview Mistakes #1',
  datetime.date(2019, 8, 3),
  7451,
  63,
  0,
  1),
 ('XBE09l-UYTE',
  'SQL Window Functions on Data Science Interviews in 2021 | Asked By Airbnb, Netflix, Twitter, Uber',
  datetime.date(2020, 12, 17),
  39238,
  1349,
  0,
  139),
 ('XRwxYOhHdE8',
  'Facebook&#39;s Most Common Data Science SQL Interview Question [2021 Interview Question and Answer]',
  datetime.date(2021, 3, 10),
  19655,
  500,
  0,
  45),
 ('xtbMCAVXDmU',
  'Facebook and Microsoft Data Science SQL interview question walkthrough (advanced)',
  datetime.date(2021, 4, 15),
  6247,
  187,
  0,
  58),
 ('Yk3H3VRDfm0',
  'Array Attributes and Accessing Single Elements in NumPy - Beginner Python NumPy Exercises #3',
  datetime.date(2020, 5, 14),
  323,
  6,
  0,
  0),
 ('yLn52ppKO80',
  'How to Create NumPy Array from Scratch - Beginner Python NumPy Exercises #2',
  datetime.date(2020, 5, 13),
  502,
  13,
  0,
  0),
 ('yY7yau9j3xk',
  'Data Science SQL Scenario Based Interview Question [Facebook] - Date Manipulation',
  datetime.date(2021, 7, 20),
  4562,
  132,
  0,
  22))